[user]
	name = Kenneth Ho
	email = 8515878+kenesu-h@users.noreply.github.com
[init]
	defaultBranch = main
[alias]
  pushup = !git push -u origin $(git branch --show-current)
  prunelocal = !git fetch --prune && \
    git branch -D $(git for-each-ref --format='%(if:equals=[gone])%(upstream:track)%(then)%(refname:short)%(end)' refs/heads)
  root = !git rev-parse --show-toplevel
[pull]
	rebase = true
